


.collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-template-rows: repeat(auto-fill, 245px);
    gap: 1rem;
}

.collections-centered {

    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collections-centered > .card-add, .collections-centered > .card {
    width: 360px;
}

.input-search {
    outline: none;
    border: none;
    width: 100%;
}

.card-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-add > div {
    width: 80%;
    padding: 1rem;
    text-align: center;
    background-color: #0C6291 ;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}

.card-add > div:hover {
    transform: scale(1.2);
    box-shadow: 5px 10px 8px #888888;
}