
/* SEARCH BAR COMPONENT ========================== */
.searchbar {
    display: flex;
    width: 100%;
    position: relative;
    padding: 1rem;
}


.dropdown {
    position: absolute;
    transition: 1s all ease;
    top: 4rem;
    width: 100%;
    background-color: #8f8f8f;
    opacity: 0;
    max-height: 0;
    z-index: -1;
}

.dropdown.active {
    transition: 1s all;
    max-height: 300px;
    opacity: 1;
    z-index: 1;
}

.item {
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.item:hover {
    background-color: aliceblue;
}


.searchbar > .search-autocomplete {
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.searchbar > button {
    font-size: 1.3rem;
}

.searchbar > .search-autocomplete > input {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
}

.searchar > .search-autocomplete, .searchbar > button {
    padding: 0.5rem;
}

.search-autocomplete {
    position: relative;
}
/* ============================================== */