.list-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-template-rows: 100px;
    align-items: center;
    padding: 0 1rem 0 1rem;
}
.daily .list-item:nth-of-type(odd) {
    background-color: #ebebeb ;
}
.hourly .list-item:nth-of-type(even) {
    background-color: #ebebeb ;
}

.daily {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.more-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.more-info > p {
    white-space: nowrap;
    padding: 0.5rem;
}

/* INFO COMPONENT================================= */
.info {
    margin-top: -7rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
}
.info-temp-main {
    display: flex;
    font-size: 3.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-main {
    display: flex;
}


.large-text.main-content {
    border: 1px solid black;
    font-size: 4rem;
    align-self: center;
    font-weight: 400;
}

.weather-info {
    text-align: center;
}
.desc::first-letter {
    text-transform: capitalize;
}

.info-city-country {
    text-align: right;
    overflow: visible;
}

.info-place {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    justify-content: flex-end;
}

.info-place > p, .info-place > div {
    white-space: nowrap;
}

.info-place > p:not(:last-child):after {
    content: ', '
}


.info-city-country > .small-text {
    color: #505050;
}



/* FOOTER ====================================== */
.footer {
    width: 100%;
    background-color: #5a5a5a;
    text-align: center;
    font-size: 1.25rem;;
    color: #ffffff;
    padding: 0.5rem
}
span, a, .title {
    color: #ffffff;
    text-decoration: none;
}
/* ============================================ */

.updates > * {
    width: 100%;
    min-width: 550px;
}
.updates {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}


.app-container {
    margin: 1rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 930px) {
    .updates > div > .large-text {
        font-size: 2rem;
    }
  }