.temp-main {
    font-size: 6rem;
    font-weight: 700;
}

.large-text {
    font-size: 4rem;
}

.med-text {
    font-size: 2rem;
}
.secondary-text {
    color: #474747;
}

.app-container {
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
}


.info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


.daily-updates {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.hourly-updates {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}