.list-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-template-rows: 100px;
    align-items: center;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid #000;
}


/* INFO COMPONENT================================= */
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-temp {
    display: flex;
}
.main-content {
    display: flex;
    font-size: 3.9rem;
    font-weight: 400;
}

.main-content > img {
    height: 100px;
}

.large-text.main-content {
    border: 1px solid black;
    font-size: 4rem;
    align-self: center;
    font-weight: 400;
}

.temp-switch {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.switch, .temp-switch {
    font-size: 2rem;
    outline: none;
    background-color: transparent;
    border: none;
}

.temp-switch, .more-info {
    margin-top: 0.7rem;
}

.more-info {
    margin-left: 1rem;
    color: #505050;
}

.desc::first-letter {
    text-transform: capitalize;
}

.info-city-country {
    text-align: right;
    overflow: visible;
}

.info-place {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    justify-content: flex-end;
}

.info-place > p, .info-place > div {
    white-space: nowrap;
}

.info-place > p:not(:last-child):after {
    content: ', '
}

.switch.active {
    font-weight: 600;
}

.switch {
    font-weight: 200;
}

.info-city-country > .small-text {
    color: #505050;
}