* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large-text {
  font-size: 3rem;
}

.med-text {
  font-size: 2rem;
}

.small-text {
  font-size: 1.2rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

