* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.collection-container {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding-bottom: 5rem;
}